[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"

[MESSAGES CONTROL]
disable=import-outside-toplevel,unknown-option-value,missing-function-docstring, missing-module-docstring,another-rule-to-disable
